# Flip Robo Technologies
Internship - Batch DS0523

Project : Batch DS2311

By Mohan G

MCQ

1.What will be the output of the following code snippet?

def func(a, b):

return b if a == 0 else func(b % a, a)

print(func(30, 75))

a) 10

b) 20

c) 15

d) 0

In [2]:
#1.
def func(a, b):
 return b if a == 0 else func(b % a, a)
print(func(30, 75))

15

2.numbers = (4, 7, 19, 2, 89, 45, 72, 22)

sorted_numbers = sorted(numbers)

even = lambda a: a % 2 == 0

even_numbers = filter(even, sorted_numbers)

print(type(even_numbers))

a) Int

b) Filter

c) List

d) Tuple

In [3]:
#2
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(type(even_numbers))

<class 'filter'>

In [19]:
#2
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
print(sorted_numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
even_numbers_list = list(even_numbers)
print(even_numbers_list)
print(type(even_numbers))

[2, 4, 7, 19, 22, 45, 72, 89]
[2, 4, 22, 72]
<class 'filter'>

3.As what datatype are the *args stored, when passed into 
a) Tuple 

b) List 

c) Dictionary 

d) none

In [44]:
#3
def datatype(*args):
    print(type(args))
    print(args)
    
datatype(1,9,9,7)

<class 'tuple'>
(1, 9, 9, 7)

4.set1 = {14, 3, 55}

set2 = {82, 49, 62}

set3={99,22,17}

print(len(set1 + set2 + set3))

a) 105

b) 270

c) 0

d) Error

In [45]:
#4
set1 = {14, 3, 55} 
set2 = {82, 49, 62} 
set3={99,22,17}
print(len(set1 + set2 + set3))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

6.Which of the following modules need to be imported to handle date time computations in Python?

a) timedate 

b) date 

c) datetime 

d) time

In [47]:
#6. Option a - timedate
from timedate import timedate

current_timedate = timedate.now()

print(current_timedate)

ModuleNotFoundError: No module named 'timedate'

In [48]:
#6. Option b - date
from date import date

current_date = date.now()

print(current_date)

ModuleNotFoundError: No module named 'date'

In [49]:
#6. Option c - datetime
from datetime import datetime

current_datetime = datetime.now()

print(current_datetime)

2023-11-27 21:05:09.813295

7.What will be the output of the following code snippet?

print(4**3 + (7 + 5)**(1 + 1))

a) 248

b) 169

c) 208

d) 233

In [50]:
#7
print(4**3 + (7 + 5)**(1 + 1))

208

8.Which of the following functions converts date to corresponding time in Python? 
a) strptime

b) strftime

c) both a) and b)

d) None

In [52]:
#8 Option a - strptime

from datetime import datetime

date_string = input("Enter the date and time value")
formatted_date = datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S")
print(formatted_date)

Enter the date and time value2023-12-26 9:30:35
2023-12-26 09:30:35

In [53]:
#8 Option b - strfptime

from datetime import datetime

date_string = input("Enter the date and time value")
formatted_date = datetime.strfptime(date_string, "%Y-%m-%d %H:%M:%S")
print(formatted_date)

Enter the date and time value2023-12-26 9:30:35

AttributeError: type object 'datetime.datetime' has no attribute 'strfptime'

In [55]:
from datetime import datetime

current_datetime = datetime.now()

formatted_date = current_datetime.strftime("%Y-%m-%d")
print(formatted_date)

2023-11-27

13.Amongst which of the following is / are the method of convert Python objects for writing data in a binary file?

A. set() method

B. dump() method

C. load() method

D. None of the mentioned above

In [1]:
#13
import pickle

# Sample data to be written to the binary file
data = {'Anime': 'Dragon Ball Super', 'MC': 'Son Goku', 'Creator': 'Akira Toriyama'}

# Writing the data to a binary file using pickle.dump()
with open('data.pkl', 'wb') as file: #wb to write binary
    pickle.dump(data, file)

# Reading the data back from the binary file using pickle.load()
with open('data.pkl', 'rb') as file: #rb to read binary
    loaded_data = pickle.load(file)

# Displaying the loaded data
print(loaded_data)

{'Anime': 'Dragon Ball Super', 'MC': 'Son Goku', 'Creator': 'Akira Toriyama'}

#13

We have a dictionary (data) that we want to write to a binary file.
We use pickle.dump(data, file) to serialize the dictionary and write it to the binary file 'data.pkl'.
Later, we use pickle.load(file) to read the serialized data from the binary file back into a Python object (loaded_data).
Finally, we print the loaded data, which should be the same as the original dictionary.
Make sure to use the 'wb' (write binary) mode when opening the file for writing and 'rb' (read binary) mode when opening it for reading with pickle.dump() and pickle.load(), respectively.

14.Amongst which of the following is / are the method used to unpickling data from a binary file?

A. load()

B. set() method

C. dump() method

D. None of the mentioned above

In [2]:
#14
import pickle

# Sample data to be written to the binary file
data = {'Anime': 'Dragon Ball Super', 'MC': 'Son Goku', 'Creator': 'Akira Toriyama'}

# Writing the data to a binary file using pickle.dump()
with open('data.pkl', 'wb') as file: #wb to write binary
    pickle.dump(data, file)

# Reading the data back from the binary file using pickle.load()
with open('data.pkl', 'rb') as file: #rb to read binary
    loaded_data = pickle.load(file) 

# Displaying the loaded data
print(loaded_data)

{'Anime': 'Dragon Ball Super', 'MC': 'Son Goku', 'Creator': 'Akira Toriyama'}

#14
The pickle.load() method is used to deserialize data from a binary file. It reads the serialized data from the file and reconstructs the original Python object.

16.Which Python code could replace the ellipsis (...) below to get the following output? 

(Select all that apply.) captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko", }

Enterprise Picard, 
Voyager Janeway 
Defiant Sisko

a) for ship, captain in captains.items():
print(ship, captain)

b) for ship in captains:
print(ship, captains[ship])

c) for ship in captains:

In [10]:
#16
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko", }
for ship, captain in captains.items():  #Option A
    print(ship, captain)

for ship in captains:   #Option B
    print(ship, captains[ship])
    
for ship in captains:  #Option C
    print(ship, captains)

Enterprise Picard
Voyager Janeway
Defiant Sisko
Enterprise Picard
Voyager Janeway
Defiant Sisko
Enterprise {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}
Voyager {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}
Defiant {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

18.Now you have your empty dictionary named captains. It’s time to add some data! Specifically, you want to add the key-value pairs

"Enterprise": "Picard", "Voyager": "Janeway", and "Defiant": "Sisko".
            
Which of the following code snippets will successfully add these key-value pairs to the existing captains dictionary?

a) captains{"Enterprise" = "Picard"}

captains{"Voyager" = "Janeway"}

captains{"Defiant" = "Sisko"}

b) captains["Enterprise"] = "Picard"

captains["Voyager"] = "Janeway"

captains["Defiant"] = "Sisko"

c) captains = {
"Enterprise": "Picard",
"Voyager": "Janeway",
"Defiant": "Sisko",
}

d) None of the above

In [23]:
#18
captains = {}

#Option A
captains{"Enterprise" = "Picard"}
captains{"Voyager" = "Janeway"}
captains{"Defiant" = "Sisko"}
print(captains)

#The syntax used in option (a) is incorrect for adding key-value pairs to a dictionary in Python. 
#The correct syntax uses square brackets, not curly braces.

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (223756638.py, line 5)

In [24]:
captains = {}
#Option B
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"
print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [26]:
capains = {}
#Option C
captains = {
"Enterprise": "Picard",
"Voyager": "Janeway",
"Defiant": "Sisko",
}
print(captains)

#Option (c) is a way to create a new dictionary with the specified key-value pairs, 
#but it doesn't add these pairs to an existing dictionary. 
#It creates a new dictionary and assigns it to the variable captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

19.You’re really building out the Federation Starfleet now! Here’s what you have: 
    
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko", "Discovery": "unknown", }

Now, say you want to display the ship and captain names contained in the dictionary, but you also want to provide some additional context. How could you do it?
a) for item in captains.items():
print(f"The [ship] is captained by [captain].")

b) for ship, captain in captains.items():
print(f"The {ship} is captained by {captain}.")

c) for captain, ship in captains.items():
print(f"The {ship} is captained by {captain}.")

d) All are correct

In [29]:
#19
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko", "Discovery":"unknown", }
#Option A
for item in captains.items(): #1st word is ship and 2nd word is captain
    print(f"The [ship] is captained by [captain].")

The [ship] is captained by [captain].
The [ship] is captained by [captain].
The [ship] is captained by [captain].
The [ship] is captained by [captain].

In [30]:
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko", "Discovery":"unknown", }
#Option B
for ship, captain in captains.items(): #1st word is ship and 2nd word is captain
    print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by unknown.

In [32]:
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko", "Discovery":"unknown", }
#Option C
for captain, ship in captains.items(): #1st word is ship and 2nd word is captain
    print(f"The {ship} is captained by {captain}.")

The Picard is captained by Enterprise.
The Janeway is captained by Voyager.
The Sisko is captained by Defiant.
The unknown is captained by Discovery.

20.You’ve created a dictionary, added data, checked for the existence of keys, and iterated over it with a for loop. Now you’re ready to delete a key from this dictionary: 
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko", "Discovery": "unknown", }

What statement will remove the entry for the key "Discovery"? 
a) del captains 

b) captains.remove() 

c) del captains["Discovery"] 

d) captains["Discovery"].pop()

In [33]:
#20
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko","Discovery":"unknown",} 

#Option A
del captains

In [34]:
captains

NameError: name 'captains' is not defined

In [35]:
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko","Discovery":"unknown",}
#Option B
captains.remove()

AttributeError: 'dict' object has no attribute 'remove'

In [36]:
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko","Discovery":"unknown",}
#Option C
del captains["Discovery"]

In [37]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [38]:
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko","Discovery":"unknown",}
#Option B
captains["Discovery"].pop()

AttributeError: 'str' object has no attribute 'pop'